#graphPerf2d {
  width: 160px;
  height:60px;
}

#graphRange52w {
  width: 600px;
  height:400px;
}

.meter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e85600;
  border: 0;
  border-radius: .1rem;
  display: block;
  height: .4rem;
  width: 100%;
}

.meter::-webkit-meter-inner-element {
  display: block;
}

.meter::-webkit-meter-bar,
.meter::-webkit-meter-optimum-value,
.meter::-webkit-meter-suboptimum-value,
.meter::-webkit-meter-even-less-good-value {
  border-radius: .1rem;
}

.meter::-webkit-meter-bar {
  background: #e85600;
}

.meter::-webkit-meter-optimum-value {
  background: #32b643;
}

.meter::-webkit-meter-suboptimum-value {
  background: #ffb700;
}

.meter::-webkit-meter-even-less-good-value {
  background: #e85600;
}

.meter::-moz-meter-bar,
.meter:-moz-meter-optimum,
.meter:-moz-meter-sub-optimum,
.meter:-moz-meter-sub-sub-optimum {
  border-radius: .1rem;
}

.meter:-moz-meter-optimum::-moz-meter-bar {
  background: #32b643;
}

.meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #ffb700;
}

.meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #e85600;
}

.mv-item-bar.mv-ui .mv-delete {
  color: #e85600;
}
.mv-item-bar.mv-ui .mv-delete::before {
  content: "❌";
  display: block;
  width: 1em;
  height: 1em;
}

.mv-item-bar.mv-ui .mv-delete:hover, .mv-item-bar.mv-ui .mv-delete:focus {
  background-color: #e85600;
  color: white;
}

.mv-item-bar.mv-ui .mv-delete:hover::before, .mv-item-bar.mv-ui .mv-delete:focus::before {
  -webkit-filter: saturate(0) brightness(600%);
  filter: saturate(0) brightness(600%);
}

.mv-item-bar.mv-ui .mv-add {
  visibility: hidden;
}

.mv-item-bar.mv-ui .mv-drag-handle {
  visibility: hidden;
}
