#graphPerf2d {
  width: 160px;
  height:60px;
}

#graphRange52w {
  width: 600px;
  height:400px;
}

.meter {
  background: #e85600;
  height: .4rem;
}

.mv-item-bar.mv-ui .mv-delete {
  color: #e85600;
}
.mv-item-bar.mv-ui .mv-delete::before {
  content: "❌";
  display: block;
  width: 1em;
  height: 1em;
}

.mv-item-bar.mv-ui .mv-delete:hover, .mv-item-bar.mv-ui .mv-delete:focus {
  background-color: #e85600;
  color: white;
}

.mv-item-bar.mv-ui .mv-delete:hover::before, .mv-item-bar.mv-ui .mv-delete:focus::before {
  -webkit-filter: saturate(0) brightness(600%);
  filter: saturate(0) brightness(600%);
}

.mv-item-bar.mv-ui .mv-add {
  visibility: hidden;
}

.mv-item-bar.mv-ui .mv-drag-handle {
  visibility: hidden;
}
